<<<<<<< HEAD
=======
<form action="http://localhost:6777/">
    <input class="btn-thrill" type="submit" value="Booooom" style="cursor: pointer;">
</form>
>>>>>>> 014c303bd6a6c2a2f8969a395af9515e7d6cf6d2
