<h1 style="margin-left: 25px;"><a data-toggle="modal" data-target="#mine" style="color: #333333; cursor: pointer;" data-toggle="tooltip" title="What is DRONE?">DRONE</a></h1>
<hr>
<div class="col-xs-8">
<br>
<form action="<%=pages_url%>" method="post" id="stock-form" class="form-inline">
	<div class="form-group">
    <label for="start" style="margin-left: 25px;">Start Date:</label>
    <input type="date" class="form-control" id="start" placeholder="Enter Start Date" name="start_date" max="2014-02-15" style="width: 200px;">
  </div>

  <div class="form-group">
    <label for="end" style="margin-left: 25px;"	>End Date:</label>
    <input type="date" class="form-control" id="end" placeholder="Enter Start Date" name="end_date" max="2014-02-15" style="width: 200px;">
  </div>

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
  <br><br><br>
  <label for="name" style="margin-left: 25px;">Stock Ticker:</label>
  <input type="text" id="name" class="form-control form-inline ticker-input" placeholder="Enter Stock Ticker" style="width: 200px;">
  <button class="btn-frill" type="button" id="add-stock" style="margin-left: 25px; width: 100px !important; background-color: #1abc9c !important;">Add Security</button>
  <br><br>

  <br>

  <input class="btn-thrill" id="final-submission" type="submit" value="Run Analysis" style="cursor: pointer; margin-left: 25px; background-color: #E74C3C">
<br><br>
  <div class="col-xs-offset-12 col-xs-6">
  <label for="script" style="margin-left: px;">Path to Python Script:</label>
  <input type="text" id="script" class="form-control form-inline ticker-input" placeholder="Optional" style="width: 200px;">
	</div>
</form>
</div>
<h4 style="margin-top: 52px;">My Portfolio</h4>
<div class="col-xs-3 tagsinput" id="tagsinput_tagsinput" style="margin-left: px;">
	
</div>

<div class="modal fade" id="mine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h4 class="modal-title" id="myModalLabel">What is DRONE?</h4></center>
      </div>
      <div class="modal-body">
      	<p style="font-size: 16px;">DRONE is a hypothetical portfolio analysis tool.</p>
      	<center><p style="font-size: 13px;">Powered by: Bloomberg and Zipline</p></center>
      </div>
    </div>
  </div>
</div>



