<h1 style="margin-left: 25px;">DRONE</h1>
<hr>
<div class="col-xs-8">
<br>
<form action="<%=pages_url%>" method="post" id="stock-form" class="form-inline">
	<div class="form-group">
    <label for="start" style="margin-left: 25px;">Start Date:</label>
    <input type="date" class="form-control" id="start" placeholder="Enter Start Date" name="start_date" max="2014-02-15" style="width: 200px;">
  </div>

  <div class="form-group">
    <label for="end" style="margin-left: 25px;"	>End Date:</label>
    <input type="date" class="form-control" id="end" placeholder="Enter Start Date" name="end_date" max="2014-02-15" style="width: 200px;">
  </div>

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
  <br><br><br><br>
  <label for="name" style="margin-left: 25px;">Stock Ticker:</label>
  <input type="text" id="name" name="stock_name[0]" class="form-control form-inline ticker-input" placeholder="Enter Stock Ticker" style="width: 200px;">
  <button class="btn-frill" type="button" id="add-stock" style="margin-left: 25px; width: 100px !important; background-color: #1abc9c !important;">Add Security</button>
  <br>
  <br>
  <br>
  <input class="btn-thrill" type="submit" value="Run Analysis" style="cursor: pointer; margin-left: 25px; background-color: #E74C3C">
</form>
</div>
<br>
<div class="col-xs-3 tagsinput" id="tagsinput_tagsinput" style="margin-left: px;">
	<span class="tag"><span>Test&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span>
</div>



